<sounds labels="tf tobiasfate">
  <sound file="2for2deal.wav" labels="good doublekill"/>
  <sound file="cantdoit.wav" labels="bad shout cannot"/>
  <sound file="gongshow.wav" labels="bad excuse"/>
  <sound file="imlagging.wav" labels="bad lag excuse"/>
  <sound file="issue.wav" labels="bad issue"/>
  <sound file="mistake.wav" labels="bad mistake"/>
  <sound file="nicenice.wav" labels="good shout nice"/>
  <sound file="ohdamn.wav" labels="good shout"/>
  <sound file="ohhshit.wav" labels="bad shout"/>
  <sound file="solidplay.wav" labels="good shout play"/>
  <sound file="whatismyteamdoing.wav" labels="bad flame shout"/>
</sounds>
